body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #0a2a66;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    background: url(https://tse2.mm.bing.net/th/id/OIP.ylh54iSeT8Ze6bGVDX1zrgHaCH?rs=1&pid=ImgDetMain&o=7&rm=3) no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    background: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* SECTIONS */
.section {
    padding: 40px;
    text-align: center;
}

/* SERVICES */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #0a2a66;
    color: white;
    text-align: center;
    padding: 15px;
}